In [5]:
import pandas as pd
df = pd.read_csv("jobs.csv")
df

,company_name,job_name,job_desc,job_req_and_info
0,Get Your Guide,"Senior Data Analyst, Business Analytics (Suppl...",*What you'll do: You will be focusing on uncov...,"Berlin, DE Visa sponsorship in English Python,..."
1,Amazon,"Applied Scientist (MT), ASIN Localization",*What you'll do: You will focus on delivering ...,"Berlin, DE Visa sponsorship in English Python,..."
2,Autodesk,AI Research Scientist,*What you'll do: You will be doing fundamental...,"Munich, DE Visa sponsorship in English Python,..."
3,Tesla,Data Analyst Supply Chain (m/w/d) - Gigafactory,*What you'll do: You will be working on delive...,"Berlin, DE Visa sponsorship in English Python,..."
4,Zalando,Data Engineer - Partner Tech,*What you'll do: You will support the implemen...,"Berlin, DE Visa sponsorship in English Python,..."
...,...,...,...,...
56,epilot,Senior Data Engineer,*What you'll do: You will build pipelines to e...,"Cologne, DE Visa sponsorship in English Python..."
57,Zalando,Senior Applied Scientist,*What you'll do: You will be working on tailor...,"Berlin, DE Visa sponsorship in English Python,..."
58,Zalando,Senior Applied Scientist,*What you'll do: You will be working on implem...,"Dortmund, DE Visa sponsorship in English Pytho..."
59,Zalando,Applied Scientist (Marketing Intelligence),*What you'll do: You will ensure the optimal a...,"Berlin, DE Visa sponsorship in English Python,..."
60,adjoe,Senior Data Scientist,*What you'll do: You will work on ML models to...,"Hamburg, DE Visa sponsorship in English Python..."

In [6]:
import sqlite3

In [1]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [6]:
df.to_sql('jobs', engine)

61

In [13]:
from sqlalchemy import text 
  
# establish the connection with the engine object 
with engine.connect() as conn: 
    
    # let's select the column credit_history 
    # from the loan data table 
    result = conn.execute(text("SELECT * FROM jobs where job_name LIKE '%Senior Data%'")) 
    
      
    # print the result 
    for row in result: 
        print(row.company_name)

Get Your Guide
Zalando
Get Your Guide
Get Your Guide
Zalando
SumUp
Wolt
Sixt
Zalando
Zalando
Microsoft
Zalando
Zalando
Zalando
epilot
adjoe

In [ ]:
with engine.connect() as conn: 
    
    # let's select the column credit_history 
    # from the loan data table 
    result = conn.execute(text("SELECT * FROM jobs Where ")) 
      
    # print the result 
    for row in result: 
        print(row.company_name)